.container{
	margin-top: 50px;
}
section h1{
	font-size:10em;
	letter-spacing: 10px;
	border-bottom: solid black 1px;
}
section .row{
	margin:200px 0;
}
.first-column{
	text-align: center;
	font-size: 2em;
	background-color: lightpink;
	border-radius: 100px;
	padding: 50px;
}
.second-column h1{
	font-size:3em;
	letter-spacing: 5px;
}
form{
	margin-top: 30px;
}
.form-control{
	font-size: 1.7em;
	color:#ced4da;
}

.first-column{
	text-align: center;
	font-size: 1.5em;
	background-color: lightpink;
	border-radius: 100px;
	/* Center horizontally and vertically */
	display: flex;
	justify-content: center;
	align-items: center;
}

.first-column p {
	margin: 0;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
	.container{
	margin-top: 100px;
}

	section h1{
		font-size:3em;
		letter-spacing: 10px;
		border-bottom: solid black 1px;
	}
	section .row{
		margin:50px 0;
	}
	.first-column{
		text-align: center;
		font-size: 1em;
		background-color: lightpink;
		border-radius: 100px;
		padding-top: 20px;
		margin:0 auto;
	}
	.second-column h1{
		margin-top: 20px;
		font-size:2em;
		letter-spacing: 2px;
	}
	.form-control{
	font-size: 1em;
	color:#ced4da;
}
}
@media only screen and (min-device-width : 480px) and (max-device-width : 768px) {
	.container{
	margin-top: 100px;
}
	section h1{
		font-size:7em;
		letter-spacing: 10px;
		border-bottom: solid black 1px;
	}
	section .row{
		margin:100px 0;
	}
	.first-column{
		text-align: center;
		font-size: 1.5em;
		background-color: lightpink;
		border-radius: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 767px) and (max-device-width : 1024px) {

	section .row{
		margin:220px 0;
	}
	.second-column h1{
		margin: 30px auto;
		font-size:2em;
		letter-spacing: 2px;
	}

}



