*{
	margin:0;
	padding:0;
}
body{
    background-color:floralwhite;
    margin:0 auto;
}

a, a:hover{
  color:grey;
  text-decoration: none;
}
.container{
  width:100%;
  margin:0 auto;
}
h1, h2, h5{
    font-family: 'EB Garamond', serif;
}
p{
  font-family: 'Basic', sans-serif;
}
.navbar{
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar-brand img{
  width:60px;
  height:60px;
  border-radius: 30px;
}
.bg-dark{
    background-color: black !important;
}
.navbar a:hover{
  color:grey;
}
 .navbar-dark .navbar-nav .nav-link {
  color:white;
  font-family: 'Krona One', sans-serif;
}
.navbar-dark .navbar-toggler{
/*  background-color: white;*/
  color:black;
  border-color: white;
}
.navbar-toggler-icon{
  color:black;
}
#backToTop{
  text-align: center;
}

footer {
    height:80px;
    text-align:center;
    border-top: solid black 1px;
    margin-top: 15px;
    padding-top:30px;
    background-color: white;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  nav img{
    width:60px;
    height:60px;
  }
}








