header img{
	width:100%;
	max-height:800px;
	opacity: 0.6;
}
header h1, p{
	text-align:center;
	position:absolute;
	left:0%;
	width:100%;
}
header h1{
	top:20%;
	font-size:10em;
	font-family: 'EB Garamond', serif;
}
header p{
	top:45%;
	font-size:2em;
	font-family: 'Basic', sans-serif;
}
.title{
	margin-top: 30px;
}
section img{
	width:100%;
}
.row{
	margin:30px auto;
	display:flex;
}

.box {
  position: relative;
  width: 100%;
  margin-bottom: 25px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.box:hover .overlay {
  opacity: 0.8;
}

.text {
  color: black;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.CA3{
	height:100%;
}
/**********  1200 media  *********/
@media (max-width:1184px){
	header h1, p{
		text-align:center;
		position:absolute;
		left:0%;
		width:100%;
	}
	header h1{
		top:30%;
		font-size:7em;
		font-family: 'EB Garamond', serif;
	}
	header p{
		top:42%;
		font-size:1.7em;
		font-family: 'Basic', sans-serif;
	}
}
/**********  768 media  *********/
@media (max-width:800px){	
	header h1, header p{
		display:none;
	}
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.title{
		margin-top: 20px;
	}
	nav img{
	    width:60px;
	    height:60px;
  	}
  	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		transition: .5s ease;
		background-color: white;
	}
}
