header{
	background-blend-mode: multiply;
  	background-image:url(../IMAGE/bg.jpg);
  	height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 #name, #subtitle{
	position:absolute;
	left:0%;
	width:100%;
	color:white;
}
header #name{
	top:35%;
	font-size:5em;
	font-family: 'EB Garamond', serif;
}
header #subtitle{
	top:50%;
	font-size:1.6em;
	font-family: 'Basic', sans-serif;
}

.row{
	margin:30px auto;
	display:flex;
}
section:before,
section:after {
    content:"";
    display:table;
}
section:after {
    clear:both;
}
.work{
	text-align: center;
	font-size: 3em;
}
.title{
	margin-top: 30px;
}
section img{
	width:100%;
}

.box {
  position: relative;
  width: 100%;
  margin-bottom: 25px;
}

#image {
    

  display: block;
  width: 100%;
  height: auto;

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.box:hover .overlay {
  opacity: 0.8;
}

.text {
  color: black;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.CA3{
	height:100%;
}
/**********  1200 media  *********/
@media (max-width:1184px){
	header #name, #subtitle{
		position:absolute;
		left:0%;
		width:100%;
	}
}
/**********  768 media  *********/
@media (max-width:800px){
	header{
		 height: 50vh;
	}	
	header #name, header #subtitle{
		display:none;
	}
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	header{
		 height: 50vh;
	}	
	.title{
		margin-top: 20px;
	}
	nav img{
	    width:60px;
	    height:60px;
  	}
  	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		transition: .5s ease;
		background-color: white;
	}
}
